:root{
    --background-color : #ffffff;
    --color: #000;
  }
.body{
    background: var(--background-color);
    color: var(--color);
}
.heading{
    padding: 16px;
}
.paragraph{
    margin:16px;
}
.button{
    margin: 16px;
}