@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;1,600&display=swap');
@import "_variables";
@import "modules/hello.scss";
@import "modules/dark-mode.scss";


html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #a58a7f;
  background-repeat: no-repeat;
  background: #0d5313;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}

.header {
  height: 60px;
  width: 100%;
}
main {
  display: grid;
  grid-template-columns: 1fr;
}

.header {
  height: 60px;
}
/*Style article */
.article {
  &__heading {
    color: #49433f;
    font-size: 32px;
    padding: 10px;
    text-align: center;
  }
  &__image {
    width: 100%;
  }
  &__paragraph {
    color: #041f1e;
    font-size: 16px;
    padding: 10px 10px;
    letter-spacing: 2px;
    &--showPhoto {
      font-size: 16px;
      padding-bottom: 20px;
    }
  }
  &__return {
    text-decoration: none;
    color: #6e1723;
  }
  &__table {
    width: 100%;
    text-align: center;
    font-family: georgia, monospace;
  }
  &__tag::before {
    content: "⚡";
  }
  &__tag {
    font-size: 1.5em;
    color: rgb(134, 54, 23);
  }
  &__tag::after {
    content: "⚡";
  }
  &__table--data {
    padding: 20px 20px;
    border: 2px solid #1e2d2f;
  }
  &__table--layer {
    background-color: #c57b57;
  }
}

.article-list__item--link {
  padding-bottom: 20px;
}

/*Style navigation */
.navigation {
  display: none;
  &--open {
    position: fixed;
    top: 0;
    background-color: #c57b57;
    width: 100%;
    display: block;
    margin-bottom:150px;
  }
  &__link {
    text-decoration: none;
    font-size: 1em;
    color: white;
    margin: 16px;
    display: block;
  }
}
/*Style section */
.section {
  background-color: #e9d842;
  margin: 0 auto;
  width: 100%;

  &__heading {
    color: #49433f;
    font-size: 48px;
    padding: 10px;
    text-align: center;
  }

  &__heading--wtf {
    color: #684a52;
    font-family: Georgia;
  }
  &__header {
    text-align: center;
    font-size: 1.5em;
    color: #d7e8ba;
    text-shadow: 2px 2px 8px #f1ab86;
    font-family: Lucida, sans-serif;
    
  }
  &__logo {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  }
  &__paragraph {
    color: #041f1e;
    font-size: 16px;
    padding: 10px 10px;
    letter-spacing: 2px;
  }
}
.grid__tag{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(230px, 1fr) );
}

.footer {
  text-align: center;
  padding: 20px 20px;
  clear: both;
  background: #c57b57;
}
.hamburger {
  position: fixed;
  top: 16px;
  right: 16px;
}

@media screen and (min-width: 768px) {
  .navigation {
    position: fixed;
    top: 0;
    background-color: #c57b57;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .hamburger {
    display: none;
  }
}
